<footer class="footer mt-auto py-3 bg-body-tertiary text-dark">
  <div class="container">
    <div class="d-md-flex">
      <div>
        <h2>Cabaree Restaurent</h2>
      </div>
       <div>
         <p>123 Demo Street</p>
         <p>Waterloo, Iowa 50702</p>
       </div>
       <di>
         <a href="#" class="visually-hidden-focusable">
           <span>Twitter </span>
           <i class="bi bi-twitter text-dark mx-1"> </i>
         </a>
         <a href="#">
           <span>Facebook </span>
           <i class="bi bi-facebook text-dark mx-1"> </i>
         </a>
         <a href="#">
           <span>Instagram </span>
           <i class="bi bi-instagram text-dark mx-1"></i>
         </a>
       </di>
    </div>
  </div>
</footer>