<!DOCTYPE html>
<html lang="en">
  
  <head>
    <%- include('../layouts/head'); %>
  </head>

<body>
  <header>
     <%- include('../layouts/nav'); %>
    </header>
  <section class="pt-5 bgcontact object-fit-cover border ">
    <div class="container pt-5 margin">
      <h1 class="text-dark text-center pt-5">Gallary</h1>
    </div>
  </section>
  <section class="py-5" >
    <div class="container">
      <div class="row g-2">
        <div class="col-md-4 ">
          <img src="https://www.theworlds50best.com/discovery/filestore/jpg/Paradise%20Road%20The%20Gallery%20Cafe-Colombo-Sri%20Lanka-1.jpg" class="img-fluid gallery-img " alt="Image 1">
        </div>
        <div class="col-md-4 ">
          <img src="https://www.theworlds50best.com/discovery/filestore/jpg/Paradise%20Road%20The%20Gallery%20Cafe-Colombo-Sri%20Lanka-1.jpg" class="img-fluid gallery-img w-100" alt="Image 2">
        </div>
        <div class="col-md-4 ">
          <img src="https://www.theworlds50best.com/discovery/filestore/jpg/Paradise%20Road%20The%20Gallery%20Cafe-Colombo-Sri%20Lanka-1.jpg" class="img-fluid gallery-img w-100" alt="Image 2">
        </div>
        <div class="col-md-8">
          <img src="https://www.theworlds50best.com/discovery/filestore/jpg/Paradise%20Road%20The%20Gallery%20Cafe-Colombo-Sri%20Lanka-1.jpg" class="img-fluid gallery-img w-100" alt="Image 1">
        </div>
        <div class="col-md-4 ">
          <img src="https://www.theworlds50best.com/discovery/filestore/jpg/Paradise%20Road%20The%20Gallery%20Cafe-Colombo-Sri%20Lanka-1.jpg" class="img-fluid gallery-img w-100" alt="Image 2">
        </div>
        <div class="col-md-4 ">
          <img src="https://www.theworlds50best.com/discovery/filestore/jpg/Paradise%20Road%20The%20Gallery%20Cafe-Colombo-Sri%20Lanka-1.jpg" class="img-fluid gallery-img w-100" alt="Image 1">
        </div>
        <div class="col-md-4 ">
          <img src="https://www.theworlds50best.com/discovery/filestore/jpg/Paradise%20Road%20The%20Gallery%20Cafe-Colombo-Sri%20Lanka-1.jpg" class="img-fluid gallery-img w-100" alt="Image 2">
        </div>
        <!-- Add more image elements for the remaining images -->
        
      </div>
    </div>
  </section>

  <!--address and direction-->
  <section class="p-4 text-secondary bg-body" id="" >
    <div class="container pt-5 text-center">
     <h2 class="p-3"> 123 Demo Street</h2>
      <p> Waterloo, Iowa 50723</p>
      <button type="button" class="btn btn-primary my-5">Get Direction</button>
      <div class="d-flex justify-content-between text-center">
        <div class="px-3">
          <p class="lead"> Monday-Trusday</p>
          <p> 12pm - 10 pm</p>
        </div>
        <div class="lead px-3">
           <p> Friday-Satarday</p>
          <p> 12pm - 11pm</p>
        </div>
      </div>
      </div>
    </div>

  </section>











   <section><%- include('../layouts/footer') %></section>
   <%- include('../layouts/script'); %>
    </body> 
  
</html>