<!DOCTYPE html>
<html lang="en">
  
  <head>
    <%- include('../layouts/head'); %>
  </head>

<body class="">
  <header>
     <%- include('../layouts/nav'); %>
    </header>
  <!--show case-->
  <section class="pt-5 object-fit-cover border" id="bgi"  >
  
    <div class="container pt-5 text-center margin">
      <h1 class="h1 text-secondary pt-4">Welcome to <pan class="text-warning">John Restaurent</pan> </h1>
      <div class="pt-5">
        <a href="/about">  <h2 class="h3">Ours Story</h2> </a>
        <a href="/menu">  <h2  class="h3">Menu</h2> </a>
        <a href="gallary">
         <h2 class="h3">Photos</h2> </a>
        <a href="reservation">  <h2 class="h3">Reservation</h2> </a>
      </div>
      
    </div>
   
  </section>
  <!--location-->
  <section class="py-5   text-dark lead " id="">
    <div class="container pt-5 text-center">
     <h2 class="p-3">Located in Waterloo, Iowa Jhon Restaurent serves Authentic foods from haiti</h2>
      <p  class="p-2">We also serve Beer, Wine and Spirite</p>

      <button type="button" class="btn  btn-primary my-3">Make a reservation</button>
      </div>
    </div>

  </section>
  
  <!--location-->
  <section class="text-dark lead bg-body-tertiary" id="" >
    <div class="container p-5 text-center">
        <div class="d-md-flex justify-content-between text-center align-items-center py-2 gap-5 ">
         
        <div class=" ">
        <h3></h3>
           <p>We combine traditional preparetion with local ingredients for dishes that authentic to both their Spanish 
             origins and Waterloo setting </p>
            <a href="#">Learn more about our story</a>
      </div>
          <img class="img-fluid w-100 rounded  object-fit-cover" src="https://img.freepik.com/premium-photo/amazing-delicious-cheese-burger_727939-299.jpg" alt="">

        
    </div>
      
      <div class="d-flex flex-row pb-2 ">

           <img class="img-fluid w-100  object-fit-cover rounded d-md-w-100" src="https://media.istockphoto.com/id/1060352206/photo/donate-food-to-hungry-people-concept-of-poverty-and-hunger.jpg?s=612x612&w=0&k=20&c=BB37IPajPeKo8fsJ3m7z2TOUmCbD0nnJo79ZXBg89sM=" alt="">
      </div>
      
      <div class="d-md-flex justify-content-between text-center align-items-center pb-2 gap-5">
        <img class="img-fluid w-100 rounded  object-fit-cover" src="https://img.freepik.com/premium-photo/amazing-delicious-cheese-burger_727939-299.jpg" alt="">
           <div class="">

             <h3></h3>

              <p>We combine traditional preparetion with local ingredients for dishes that authentic to both their Spanish 
              origins and Waterloo setting </p>
               <a herf="#">Learn more about our story</a>
          </div>
      </div>

      </div>
   

  </section>

 
  <!--address and direction-->
  <section class="p-4 text-secondary" id="" >
    <div class="container pt-5 text-center">
     <h2 class="p-3"> 123 Demo Street</h2>
      <p> Waterloo, Iowa 50723</p>
      <button type="button" class="btn btn-primary my-5">Get Direction</button>
      <div class="d-flex justify-content-between text-center">
        <div class="px-3">
          <p class="lead"> Monday-Trusday</p>
          <p> 12pm - 10 pm</p>
        </div>
        <div class="lead px-3">
           <p> Friday-Satarday</p>
          <p> 12pm - 11pm</p>
        </div>
      </div>
      </div>
    </div>

  </section>
  <!--subscription -->
  <section class="bgsub py-5 text-center text-secondary  object-fit-cover">
  <div class="container py-5">
    <h2 class="pb-4 h2">Subscribe to Our Newsletter</h2>
    <p>sing up to recive news updat</p>
    <div class="input-group mb-3 w-50 mx-auto">
      <input type="text" class="form-control" placeholder="sing up with your email address" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>
    </div>
  </div>
    
  </section>
  
  





<section>
  <%- include('../layouts/footer') %>
</section>






   <%- include('../layouts/script'); %>
    </body> 
  
</html>
