<!DOCTYPE html>
<html lang="en">
  
  <head>
    <%- include('../layouts/head'); %>
  </head>

<body>
  <header>
     <%- include('../layouts/nav'); %>
    </header>
  <section class="pt-5 bgcontact object-fit-cover border rounded">
    <div class="container pt-5">
      <h1 class="text-dark text-center pt-5 margin">Menu</h1>
    </div>
  </section>
  <section >
    <!DOCTYPE html>
    <html lang="en">

    <body>

        <div class="container my-5">
            <h1 class="text-center mb-4 text-dark">Restaurant Menu</h1>

            <div class="row g-2">
                <div class="col-md-4 col-lg-3 ">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1S1W5eWJuoyNjg0Z9uCsGIYlvXi3KCfjdfwRwYYkBFg&s" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 1</h5>
                            <p class="card-text">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                            
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1S1W5eWJuoyNjg0Z9uCsGIYlvXi3KCfjdfwRwYYkBFg&s" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 1</h5>
                            <p class="card-text">Description of Dish 1.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover scale img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        <img src="https://www.okayafrica.com/media-library/image.jpg?id=15908914&width=980" class="card-img-top object-fit-cover  img-fluid scale" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dish 2</h5>
                            <p class="card-text">Description of Dish 2.</p>
                            <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>
                              <p class="card-text text-start">Description of Dish 1.</p>

                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
           
        
        </div>

  </section>











   <section><%- include('../layouts/footer') %></section>
   <%- include('../layouts/script'); %>
    </body> 
  
</html>