<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../layouts/head'); %>
  </head>

<body>
  <%- include('../layouts/nav'); %>
  <header class="masthead" style="background-image: url('https://www.google.com/gasearch?q=restaurant%20images&tbm=&source=sh/x/gs/m2/5#vhid=wl0wLfQy5iDhYM&vssid=mosaic')">
   
    </header>
  <section >

  </section>



   <%- include('../layouts/script'); %>
    </body> 

</html>